.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: red;
    width: 250px;
    height: auto;
    box-sizing: border-box;
}

.containerImg {
    width: 100%;
}

.avatar {
    width: 80%;
    display: block;
    margin: 0 auto;
}